* {
  box-sizing: border-box;
  transition: all .5s;
}

#app {
  font-family: sans-serif;
  position: relative;
  background-color: var(--background-color);
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;

  &.open-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

body.body-open-modal {
  width: 100vw;
  height: 100vh;
  overflow: hidden!important;
}

.loadingBlock {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);

  .loader {
    animation: rotate 2s linear infinite;
  }
}

@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}