*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.42; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

:focus {
  box-shadow: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

 b,
 strong {
   font-weight: 600;
 }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

audio,
video {
  display: block;
}

iframe {
  border: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button,
input,
optgroup,
select,
textarea {
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  text-transform: none;
  overflow: visible;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-opacity: 1 !important;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

 [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}